<include file="_dialog/_header"/>
<form class="layui-form" action="">

    <div class="layui-row">
        <div class="layui-col-xs12">
            <table id="mould-info-table" class="table table-striped table-bordered table-hover">
              <thead>
                <th colspan="3">模具信息</th>
              </thead>
              <tbody>

                <tr>
                  <td>
                    <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label">模具名称</label>
                        <div class="layui-input-inline">
                          <input type="text" name="MouldName" disabled="" autocomplete="off" class="layui-input item-1 MouldName">
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label">工位</label>
                        <div class="layui-input-inline">
                          <input type="text" name="M_Procedure" disabled="" placeholder="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2 M_Procedure">
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label">模具编号</label>
                        <div class="layui-input-inline">
                          <input type="text" name="MouldNumber" disabled="" placeholder="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2 MouldNumber">
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label">冲程数</label>
                        <div class="layui-input-inline">
                          <input type="text" name="ChongTimes" disabled="" placeholder="" autocomplete="off" class="layui-input item-1 ChongTimes">
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label">总<span class="change_name">维修</span>次数</label>
                        <div class="layui-input-inline" id="mould-info-inputs">
                          <input type="text" name="MaintainTimes" disabled="" placeholder="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2 MaintainTimes">
                          <input type="text" name="RepairTimes" disabled="" placeholder="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2 RepairTimes" style="display: none;">
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label">上次<span class="change_name">维修</span>时间</label>
                        <div class="layui-input-inline">
                          <input type="text" name="LastServiceDate" disabled="" placeholder="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2 LastServiceDate">
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>

        <div class="layui-col-xs12">
            <table id="current-repair-info-table" class="table table-striped table-bordered table-hover">
                <thead>
                  <th colspan="3">本次维修信息</th>
                </thead>
                <tbody>

                  <tr>
                    <td>
                      <div class="layui-inline">
                        <div class="layui-form-item">
                          <label class="layui-form-label">维修班长</label>
                          <div class="layui-input-inline">
                            <input type="text" readonly class="layui-input RepairMoniter">
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="layui-inline">
                        <div class="layui-form-item">
                          <label class="layui-form-label">联系方式</label>
                          <div class="layui-input-inline">
                            <input type="text" readonly class="layui-input MoniterPhone">
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="layui-inline">
                        <div class="layui-form-item">
                          <label class="layui-form-label">计划完成时间</label>
                          <div class="layui-input-inline">
                            <input type="text" readonly class="layui-input PlanCompleteTime">
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="layui-inline">
                        <div class="layui-form-item">
                          <label class="layui-form-label">维修负责人</label>
                          <div class="layui-input-inline">
                            <input type="text" readonly class="layui-input RepairCharger">
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="layui-inline">
                        <div class="layui-form-item">
                          <label class="layui-form-label">联系方式</label>
                          <div class="layui-input-inline">
                            <input type="text" readonly class="layui-input ChargerPhone">
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="layui-inline">
                        <div class="layui-form-item">
                          <label class="layui-form-label">预设工时</label>
                          <div class="layui-input-inline">
                            <input type="text" readonly class="layui-input DefaultWorkTime">
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="layui-inline">
                        <div class="layui-form-item">
                          <label class="layui-form-label bitian"><span class="change_name">维修</span>开始时间<i>*</i></label>
                          <div class="layui-input-inline">
                            <input type="text" class="layui-input StartTime" readonly>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="layui-inline">
                        <div class="layui-form-item">
                          <label class="layui-form-label bitian"><span class="change_name">维修</span>结束时间<i>*</i></label>
                          <div class="layui-input-inline">
                            <input type="text" class="layui-input EndTime" readonly>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="layui-inline">
                        <div class="layui-form-item">
                          <label class="layui-form-label">维修工时</label>
                          <div class="layui-input-inline">
                            <input type="text" readonly class="layui-input diff_time">
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="layui-inline">
                        <div class="layui-form-item">
                          <label class="layui-form-label">停线类型</label>
                          <div class="layui-input-inline">
                            <input class="layui-input StopDescribe" readonly name="StopDescribe">
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>

                  <tr>
                    <td class="center" colspan="3">
                        <div class="layui-inline" style="width:100%;">
                          <div class="layui-form-item">
                            <label class="layui-form-label" style="white-space: normal;">本次维修信息描述</label>
                            <div class="layui-input-inline" style="width:985px!important;">
                              <textarea disabled="" style="background-color: #EEEEEE;" class="layui-textarea RepairDescribe"></textarea>
                            </div>
                          </div>
                        </div>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>

        <div class="layui-col-xs12">
            <table id="sure-1-show" class="table table-striped table-bordered table-hover">
              <thead>
                <th colspan="4"><span class="change_name">维修</span>记录</th>
              </thead>
              <tbody>
                <tr>
                  <td colspan="4">
                    <textarea name="remark_1" placeholder="请输入内容" style="width:100%;" class="layui-textarea remark_1"></textarea>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <td colspan="4">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>序号</th>
                          <th>工位</th>
                          <th>维修人</th>
                          <th>联系方式</th>
                          <th>工时</th>
                        </tr>
                      </thead>
                      <tbody class="gongxu_contact_list">

                      </tbody>
                    </table>

                </td>
              </tfoot>
          </table>
        </div>

        <div class="layui-col-xs12">
            <table id="sure-2-show" class="table table-striped table-bordered table-hover">
                <thead>
                  <th colspan="4">维修工程师和主管确认</th>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="4">
                      <textarea name="remark_2" readonly style="width:100%;" class="layui-textarea remark_2"></textarea>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>

        <div class="layui-col-xs12">

           <table class="table table-striped table-bordered table-hover">
               <tbody id="bohuishow_box">
                 <tr>
                   <td colspan="2">
                       <div class="layui-form-item">
                           <label class="layui-form-label">删除人</label>
                           <div class="layui-input-inline">
                             <input type="text" readonly class="layui-input Rejecter">
                           </div>
                       </div>
                   </td>
                 </tr>

                 <tr>
                   <td colspan="2">
                       <div class="layui-form-item">
                           <label class="layui-form-label">删除时间</label>
                           <div class="layui-input-inline">
                             <input type="text" readonly class="layui-input RejectTime">
                           </div>
                       </div>
                   </td>
                 </tr>

                 <tr>
                   <td colspan="2">
                       <div class="layui-form-item">
                           <label class="layui-form-label">删除原因</label>
                           <div class="layui-input-inline" style="width: 456px!important;">
                             <textarea readonly class="layui-textarea RejectDescribe"></textarea>
                           </div>
                       </div>
                   </td>
                 </tr>
               </tbody>
           </table>

        </div>




    </div>

</form>
    <!-- 模板引擎doT.js    start -->
    <script id="j-tmpl_gongxu_contact_list" type="text/template">
        {{ if(it.code==0){ }}

                {{ for (var i = 0, l = it.data.length; i < l; i++) { }}

                      <tr>
                        <th scope="row">{{=i+1}}</th>
                        <td>{{=it.data[i].StepName}}</td>
                        <td>{{=it.data[i].Executor}}</td>
                        <td>{{=it.data[i].Phone}}</td>
                        <td>{{=it.data[i].Cost}}</td>
                      </tr>

                {{ } }}

        {{ }else{ }}

                <h2>暂无数据</h2>

        {{ } }}
    </script>

    <!-- 模板引擎doT.js    start -->
    <script id="j-tmpl_gongxu_row" type="text/template">
        <div class="row gongxu_row">
            <div class="col-xs-4">
                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                    <tbody id="liaoliao_box">
                      <tr>
                        <td class="center">
                          <div class="layui-inline">
                            <div class="layui-form-item">
                              <label class="layui-form-label bitian">工位<i>*</i></label>
                              <div class="layui-input-inline">
                                <select name="gongxu_name_{{=it.i}}" lay-verify="required" style="width:100px;" class="gongxu_list_1">
                                  <option value="请选择">全部</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <a class="layui-btn layui-btn-primary repair_add" data-i="{{=it.i}}"><i class="layui-icon"></i>添加维修人</a>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-8">
                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                    <tbody class="repair_box">
                    </tbody>
                </table>
            </div>
        </div>
    </script>

    <!-- 模板引擎doT.js    start -->
    <script id="j-tmpl_repair_row" type="text/template">

        <tr>
	        <td class="center">
	          <div class="layui-inline">
	            <div class="layui-form-item">
	              <label class="layui-form-label bitian">维修人：<i>*</i></label>
	              <div class="layui-input-inline">
	                <select name="repair_people_{{=it.i}}_{{=it.j}}" style="width:100px;" class="RepairCharger_select change_phone" lay-filter="change_phone">
	                  <option value="张三">张三</option>
	                  <option value="李四">李四</option>
	                </select>
	              </div>
	            </div>
	          </div>
	        </td>
	        <td>
	          <div class="layui-inline">
	            <div class="layui-form-item">
	              <label class="layui-form-label bitian">联系方式：<i>*</i></label>
	              <div class="layui-input-inline">
	                <input type="text" readonly class="layui-btn layui-btn-primary phone" name="contact_{{=it.i}}_{{=it.j}}" value="" />
	              </div>
	            </div>
	          </div>
	        </td>
	        <td>
	          <div class="layui-inline">
	            <div class="layui-form-item">
	              <label class="layui-form-label bitian">工时（分）:<i>*</i></label>
	              <div class="layui-input-inline">
	                <input type="text" name="work_time_{{=it.i}}_{{=it.j}}" size="10" class="layui-input id-btn-dialog2_bl_info item-2">
	              </div>
	            </div>
	          </div>
	        </td>
	      </tr>

    </script>

    <script>
          layui.use(['form', 'layer', 'laydate'], function(){
            var form = layui.form()
              ,layer = layui.layer
              ,laydate = layui.laydate;

            var TypeID="{$_GET['TypeID']}";
            var WorkOrderID="{$_GET['WorkOrderID']}";
            var OrderType="{$_GET['OrderType']}";
            var RepairCharger="{$_GET['RepairCharger']}";
            var ChargerPhone="{$_GET['ChargerPhone']}";
            var ProblemID="{$_GET['ProblemID']}";

            //监听提交
            form.on('submit(demo1_sure_2)', function(data){
              var Check2Remarks=data.field.remark_2;

              var json=_ajax_add_remark_2(Check2Remarks, WorkOrderID);
              return false;
            });

            if( TypeID && WorkOrderID &&OrderType){
                //获取模具信息
                _ajax_get_mould_info(TypeID, WorkOrderID);
                //本次维修信息
                _ajax_get_current_info(WorkOrderID);
                //维修确认和维修工程师确认内容
                _ajax_get_sure_1_info(WorkOrderID);
                //驳回信息
                _ajax_get_bohui_detail(WorkOrderID);
            }else{
                alert('参数有误!');return false;
            }

            //模具信息
            function _ajax_get_mould_info(TypeID, WorkOrderID){
                $.ajax({
                    async:false,
                    type:'get',
                    contentType:"application/x-www-form-urlencoded",
                    url : 'http://'+api_url+'/Default.ashx?TaskID=40172',
                    data: {
                        TypeID:TypeID,
                        WorkOrderID:WorkOrderID
                    },
                    dataType : 'json',
                    success  : function(json) {
                        if(json.code == 0){
                            data=json.data;
                            $('#mould-info-table .MouldName').val(data.MouldName);
                            $('#mould-info-table .M_Procedure').val(data.M_Procedure);
                            $('#mould-info-table .MouldNumber').val(data.MouldNumber);
                            $('#mould-info-table .ChongTimes').val(data.ChongTimes);
                            $('#mould-info-table .MaintainTimes').val(data.MaintainTimes);//保养
                            $('#mould-info-table .RepairTimes').val(data.RepairTimes);//维修
                            $('#mould-info-table .LastServiceDate').val(data.LastServiceDate);
                        }else{
                            layer.msg(json.msg);
                        }
                    },
                    error  : function() {
                        layer.msg('error');
                    }
                });
            }

            //本次维修信息
            function _ajax_get_current_info(WorkOrderID){
                $.ajax({
                    async:false,
                    type:'get',
                    contentType:"application/x-www-form-urlencoded",
                    url : 'http://'+api_url+'/Default.ashx?TaskID=40173',
                    data: {
                        WorkOrderID:WorkOrderID
                    },
                    dataType : 'json',
                    success  : function(json) {
                        if(json.code == 0){
                          data=json.data;
                          console.log('本次维修信息');
                          console.log(data.RepairMoniter);
                          $('#current-repair-info-table .RepairMoniter').val(data.RepairMoniter);
                          $('#current-repair-info-table .RepairCharger').val(data.RepairCharger);
                          $('#current-repair-info-table .PlanCompleteTime').val(data.PlanCompleteTime);
                          $('#current-repair-info-table .StartTime').val(data.StartTime);
                          $('#current-repair-info-table .EndTime').val(data.EndTime);
                          $('#current-repair-info-table .ChargerPhone').val(data.ChargerPhone);
                          $('#current-repair-info-table .MoniterPhone').val(data.MoniterPhone);
                          $('#current-repair-info-table .RepairDescribe').val(data.RepairDescribe);
                          $('#current-repair-info-table .StopDescribe').val(data.StopDescribe);
                          $('#current-repair-info-table .DefaultWorkTime').val(data.DefaultWorkTime);
                        }else{
                          layer.msg(json.msg);
                        }
                    },
                    error  : function() {
                        layer.msg('error');
                    }
                });
            }

            //工序列表
            function _ajax_get_gongxu_list(point){
                $.ajax({
                    async:false,
                    type:'get',
                    url : 'http://'+api_url+'/Default.ashx?TaskID='+point,
                    dataType : 'json',
                    success  : function(json) {
                        if(json.code == 0){
                            var obj = json.data;

                            var _str="";
                            _str+="";
                            $.each(obj, function(key, val) {
                                _str+='<option value="'+key+'">'+val+'</option>';
                       　　 });

                            $('.gongxu_list_1').html(_str);
                            layui.form().render();
                        }else{
                            layer.msg(json.msg);
                        }
                    },
                    error  : function() {
                        layer.msg('error');
                    }
                });
            }

            //获取驳回信息
            function _ajax_get_bohui_detail(WorkOrderID){
                $.ajax({
                    async:false,
                    type:'get',
                    url : 'http://'+api_url+'/Default.ashx?TaskID=6030',
                    data:{
                        WorkOrderID:WorkOrderID
                    },
                    dataType : 'json',
                    success  : function(json) {
                        if(json.code == 0){
                            var data = json.data;
                            $('#bohuishow_box .Rejecter').val(data.Rejecter);
                            $('#bohuishow_box .RejectTime').val(data.RejectTime);
                            $('#bohuishow_box .RejectDescribe').val(data.RejectDescribe);
                            layui.form().render();
                        }else{
                            layer.msg(json.msg);
                        }
                    },
                    error  : function() {
                        layer.msg('error');
                    }
                });
            }

            //获取维修确认和维修工程师确认内容
            function _ajax_get_sure_1_info(WorkOrderID){
                $.ajax({
                    async:false,
                    type:'get',
                    contentType:"application/x-www-form-urlencoded",
                    url : 'http://'+api_url+'/Default.ashx?TaskID=40217',
                    data: {
                        WorkOrderID:WorkOrderID
                    },
                    dataType : 'json',
                    success  : function(json) {
                        if(json.code == 0){
                            if(json.data[0]){
                                var remark_1=json.data[0].Check1Remarks;
                                var remark_2=json.data[0].Check2Remarks;
                                console.log(123);
                                console.log(remark_1);
                                console.log(remark_2);
                                $('#sure-1-show .remark_1').val(remark_1);
                                $('#sure-2-show .remark_2').val(remark_2);

                                var obj = json;
                                var tmpl = document.getElementById('j-tmpl_gongxu_contact_list').innerHTML;
                                var doTtmpl = doT.template(tmpl);
                                var doT_Str=doTtmpl(obj);
                                $('.gongxu_contact_list').html(doT_Str);
                                layui.form().render();
                            }
                        }else{
                            layer.msg(json.msg);
                        }
                    },
                    error  : function() {
                        layer.msg('error');
                    }
                });
            }

            function GetDateDiff(startTime, endTime, diffType) {
                //将xxxx-xx-xx的时间格式，转换为 xxxx/xx/xx的格式
                startTime = startTime.replace(/\-/g, "/");
                endTime = endTime.replace(/\-/g, "/");

                //将计算间隔类性字符转换为小写
                diffType = diffType.toLowerCase();
                var sTime = new Date(startTime);      //开始时间
                var eTime = new Date(endTime);  //结束时间
                //作为除数的数字
                var divNum = 1;
                switch (diffType) {
                    case "second":
                        divNum = 1000;
                        break;
                    case "minute":
                        divNum = 1000 * 60;
                        break;
                    case "hour":
                        divNum = 1000 * 3600;
                        break;
                    case "day":
                        divNum = 1000 * 3600 * 24;
                        break;
                    default:
                        break;
                }
                return parseInt((eTime.getTime() - sTime.getTime()) / parseInt(divNum));
            }

            function _ajax_add_remark_2(Check2Remarks, WorkOrderID){
                $.ajax({
                    async:false,
                    type:'get',
                    contentType:"application/x-www-form-urlencoded",
                    url : 'http://'+api_url+'/Default.ashx?TaskID=40212',
                    data:{
                        Check2Remarks:Check2Remarks,
                        WorkOrderID:WorkOrderID,
                        Check2er:login_user
                    },
                    dataType : 'json',
                    success  : function(json) {
                        if(json.code == 0){
                            layer.msg(json.msg);
                             parent.closeDialog();
                        }else{
                            layer.msg(json.msg);
                        }
                    },
                    error  : function() {
                        layer.msg('error');
                    }
                });
            }


          });
    </script>



<include file="_dialog/_footer"/>
