<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">
  <script src="__PUBLIC__/Admin/assets/js/jquery.min.js"></script>
  <script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>
</head>
<body>
          


          
      <blockquote class="layui-elem-quote">
        大部分演示都在layer独立组件的官网，与内置的layer模块，用法是完全一致的
      </blockquote>
    
      <div class="row">
          <table id="mould-info-table" class="table table-striped table-bordered table-hover">
              <thead>
                  <th colspan="3">模具信息</th></thead>
              <tbody id="liaoliao_box">
                  <tr>
                      <td class="center">
                          <div class="layui-inline">
                              <div class="layui-form-item">
                                  <label class="layui-form-label">模具名称</label>
                                  <div class="layui-input-inline">
                                      <input type="text" name="MouldName" disabled="" autocomplete="off" class="layui-input item-1 MouldName"></div>
                              </div>
                          </div>
                      </td>
                      <td>
                          <div class="layui-inline">
                              <div class="layui-form-item">
                                  <label class="layui-form-label">工位</label>
                                  <div class="layui-input-inline">
                                      <input type="text" name="M_Procedure" disabled="" placeholder="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2 M_Procedure"></div>
                              </div>
                          </div>
                      </td>
                      <td>
                          <div class="layui-inline">
                              <div class="layui-form-item">
                                  <label class="layui-form-label">模具编号</label>
                                  <div class="layui-input-inline">
                                      <input type="text" name="MouldNumber" disabled="" placeholder="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2 MouldNumber"></div>
                              </div>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="center">
                          <div class="layui-inline">
                              <div class="layui-form-item">
                                  <label class="layui-form-label">冲程数</label>
                                  <div class="layui-input-inline">
                                      <input type="text" name="ChongTimes" disabled="" placeholder="" autocomplete="off" class="layui-input item-1 ChongTimes"></div>
                              </div>
                          </div>
                      </td>
                      <td>
                          <div class="layui-inline">
                              <div class="layui-form-item">
                                  <label class="layui-form-label">总
                                      <span class="change_name">维修</span>次数</label>
                                  <div class="layui-input-inline" id="mould-info-inputs">
                                      <input type="text" name="MaintainTimes" disabled="" placeholder="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2 MaintainTimes">
                                      <input type="text" name="RepairTimes" disabled="" placeholder="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2 RepairTimes" style="display: none;"></div>
                              </div>
                          </div>
                      </td>
                      <td>
                          <div class="layui-inline">
                              <div class="layui-form-item">
                                  <label class="layui-form-label">上次
                                      <span class="change_name">维修</span>时间</label>
                                  <div class="layui-input-inline">
                                      <input type="text" name="LastServiceDate" disabled="" placeholder="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2 LastServiceDate"></div>
                              </div>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
          <table id="tingxian-info-table" class="table table-striped table-bordered table-hover" style="display: none;">
              <thead>
                  <th colspan="3" style="text-align:left;">停线信息</th></thead>
              <tbody id="liaoliao_box">
                  <tr>
                      <td class="center">
                          <div class="layui-inline">
                              <div class="layui-form-item">
                                  <label class="layui-form-label">停线开始时间</label>
                                  <div class="layui-input-inline">
                                      <input type="text" name="BeginTime" disabled="" autocomplete="off" class="layui-input item-1 BeginTime"></div>
                              </div>
                          </div>
                      </td>
                      <td>
                          <div class="layui-inline">
                              <div class="layui-form-item">
                                  <label class="layui-form-label">停线结束时间</label>
                                  <div class="layui-input-inline">
                                      <input type="text" name="EndTime" disabled="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2 EndTime"></div>
                              </div>
                          </div>
                      </td>
                      <td>
                          <div class="layui-inline">
                              <div class="layui-form-item">
                                  <label class="layui-form-label">班次</label>
                                  <div class="layui-input-inline">
                                      <input type="text" name="Banci" disabled="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2 Banci"></div>
                              </div>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="center">
                          <div class="layui-inline">
                              <div class="layui-form-item">
                                  <label class="layui-form-label">产线</label>
                                  <div class="layui-input-inline">
                                      <input type="text" name="Line" disabled="" autocomplete="off" class="layui-input item-1 Line"></div>
                              </div>
                          </div>
                      </td>
                      <td>
                          <div class="layui-inline">
                              <div class="layui-form-item">
                                  <label class="layui-form-label">停线原因</label>
                                  <div class="layui-input-inline">
                                      <input type="text" name="Type2" disabled="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2 Type2"></div>
                              </div>
                          </div>
                      </td>
                      <td>
                          <div class="layui-inline">
                              <div class="layui-form-item">
                                  <label class="layui-form-label">故障类型</label>
                                  <div class="layui-input-inline">
                                      <input type="text" name="Describe" disabled="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2 Describe"></div>
                              </div>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="center" colspan="3">
                          <textarea id="_Remarks" disabled="" placeholder="请输入内容" style="width:100%;" class="layui-textarea"></textarea>
                      </td>
                  </tr>
              </tbody>
          </table>
          <table id="before-repair-info-table" class="table table-striped table-bordered table-hover">
              <thead>
                  <th colspan="3">上次
                      <span class="change_name">维修</span>信息</th></thead>
              <tbody id="liaoliao_box">
                  <tr>
                      <td class="center">
                          <div class="layui-inline">
                              <div class="layui-form-item">
                                  <label class="layui-form-label">
                                      <span class="change_name">维修</span>开始时间</label>
                                  <div class="layui-input-inline">
                                      <input type="text" name="StartTime" disabled="" autocomplete="off" class="layui-input item-1 StartTime"></div>
                              </div>
                          </div>
                      </td>
                      <td>
                          <div class="layui-inline">
                              <div class="layui-form-item">
                                  <label class="layui-form-label">
                                      <span class="change_name">维修</span>结束时间</label>
                                  <div class="layui-input-inline">
                                      <input type="text" name="EndTime" disabled="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2 EndTime"></div>
                              </div>
                          </div>
                      </td>
                      <td>
                          <div class="layui-inline">
                              <div class="layui-form-item">
                                  <label class="layui-form-label">维修人</label>
                                  <div class="layui-input-inline">
                                      <input type="text" name="RepairCharger" disabled="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2 RepairCharger"></div>
                              </div>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="center">
                          <div class="layui-inline">
                              <div class="layui-form-item">
                                  <label class="layui-form-label">联系方式</label>
                                  <div class="layui-input-inline">
                                      <input type="text" name="ChargerPhone" disabled="" autocomplete="off" class="layui-input item-1 ChargerPhone"></div>
                              </div>
                          </div>
                      </td>
                      <td></td>
                      <td></td>
                  </tr>
              </tbody>
          </table>
          <form class="layui-form layui-form-pane col-xs-12" action="{:U('Admin/Course/index')}">
              <table id="current-repair-info-table" class="table table-striped table-bordered table-hover">
                  <thead>
                      <th colspan="3">本次
                          <span class="change_name">维修</span>信息</th></thead>
                  <tbody id="liaoliao_box">
                      <tr>
                          <td class="center">
                              <div class="layui-inline">
                                  <div class="layui-form-item">
                                      <label class="layui-form-label">维修班长</label>
                                      <div class="layui-input-inline">
                                          <input type="text" disabled="" autocomplete="off" class="layui-input item-1 RepairMoniter"></div>
                                  </div>
                              </div>
                          </td>
                          <td>
                              <div class="layui-inline">
                                  <div class="layui-form-item">
                                      <label class="layui-form-label">联系方式</label>
                                      <div class="layui-input-inline">
                                          <input type="text" disabled="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2 MoniterPhone"></div>
                                  </div>
                              </div>
                          </td>
                          <td>
                              <div class="layui-inline">
                                  <div class="layui-form-item">
                                      <label class="layui-form-label">计划完成时间</label>
                                      <div class="layui-input-inline">
                                          <input type="text" disabled="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2 PlanCompleteTime"></div>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td class="center">
                              <div class="layui-inline">
                                  <div class="layui-form-item">
                                      <label class="layui-form-label">维修负责人</label>
                                      <div class="layui-input-inline">
                                          <input type="text" disabled="" autocomplete="off" class="layui-input item-1 RepairCharger"></div>
                                  </div>
                              </div>
                          </td>
                          <td>
                              <div class="layui-inline">
                                  <div class="layui-form-item">
                                      <label class="layui-form-label">联系方式</label>
                                      <div class="layui-input-inline">
                                          <input type="text" disabled="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2 ChargerPhone"></div>
                                  </div>
                              </div>
                          </td>
                          <td>
                              <div class="layui-inline">
                                  <div class="layui-form-item">
                                      <label class="layui-form-label">
                                          <span class="change_name">维修</span>开始时间</label>
                                      <div class="layui-input-inline">
                                          <input class="layui-input StartTime" lay-verify="required" name="StartTime" id="LAY_demorange_s_2"></div>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td class="center">
                              <a class="layui-btn layui-btn-normal" id="gongxu_add">
                                  <i class="layui-icon"></i>工位</a></td>
                          <td></td>
                          <td>
                              <div class="layui-inline">
                                  <div class="layui-form-item">
                                      <label class="layui-form-label">
                                          <span class="change_name">维修</span>结束时间</label>
                                      <div class="layui-input-inline">
                                          <input class="layui-input EndTime" lay-verify="required" name="EndTime" id="LAY_demorange_e_2">
                                          <!-- <button id="save_start_and_end_time" type="button" class="btn btn-default btn-xs" style="float: right;">保存</button> --></div>
                                  </div>
                              </div>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <div class="row" id="gongxu_box" style="display: none;"></div>
              <div class="row" id="gongxu_box_list" style="display: none;">
                  <div class="row gongxu_row">
                      <div class="col-xs-4">
                          <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                              <tbody id="liaoliao_box">
                                  <tr>
                                      <td class="center">
                                          <div class="layui-inline">
                                              <div class="layui-form-item">
                                                  <label class="layui-form-label">工位</label>
                                                  <div class="layui-input-inline">
                                                      <button class="layui-btn layui-btn-primary">工序1</button></div>
                                              </div>
                                          </div>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="col-xs-8">
                          <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                              <tbody class="repair_box">
                                  <tr>
                                      <td class="center">
                                          <div class="layui-inline">
                                              <div class="layui-form-item">
                                                  <label class="layui-form-label">维修人：</label>
                                                  <div class="layui-input-inline">
                                                      <button class="layui-btn layui-btn-primary">张腾瑞</button></div>
                                              </div>
                                          </div>
                                      </td>
                                      <td>
                                          <div class="layui-inline">
                                              <div class="layui-form-item">
                                                  <label class="layui-form-label">联系方式：</label>
                                                  <div class="layui-input-inline">
                                                      <button class="layui-btn layui-btn-primary">15822836709</button></div>
                                              </div>
                                          </div>
                                      </td>
                                      <td>
                                          <div class="layui-inline">
                                              <div class="layui-form-item">
                                                  <label class="layui-form-label">工时（分）:</label>
                                                  <div class="layui-input-inline">
                                                      <button class="layui-btn layui-btn-primary">50</button></div>
                                              </div>
                                          </div>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="row gongxu_row">
                      <div class="col-xs-4">
                          <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                              <tbody id="liaoliao_box">
                                  <tr>
                                      <td class="center">
                                          <div class="layui-inline">
                                              <div class="layui-form-item">
                                                  <label class="layui-form-label">工位</label>
                                                  <div class="layui-input-inline">
                                                      <button class="layui-btn layui-btn-primary">工序1</button></div>
                                              </div>
                                          </div>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="col-xs-8">
                          <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                              <tbody class="repair_box">
                                  <tr>
                                      <td class="center">
                                          <div class="layui-inline">
                                              <div class="layui-form-item">
                                                  <label class="layui-form-label">维修人：</label>
                                                  <div class="layui-input-inline">
                                                      <button class="layui-btn layui-btn-primary">张腾瑞</button></div>
                                              </div>
                                          </div>
                                      </td>
                                      <td>
                                          <div class="layui-inline">
                                              <div class="layui-form-item">
                                                  <label class="layui-form-label">联系方式：</label>
                                                  <div class="layui-input-inline">
                                                      <button class="layui-btn layui-btn-primary">15822836709</button></div>
                                              </div>
                                          </div>
                                      </td>
                                      <td>
                                          <div class="layui-inline">
                                              <div class="layui-form-item">
                                                  <label class="layui-form-label">工时（分）:</label>
                                                  <div class="layui-input-inline">
                                                      <button class="layui-btn layui-btn-primary">50</button></div>
                                              </div>
                                          </div>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              <table id="sample-table-sure-1" class="table table-striped table-bordered table-hover" style="display:none;">
                  <thead>
                      <th colspan="4">
                          <span class="change_name">维修</span>记录</th></thead>
                  <tbody id="liaoliao_box">
                      <tr>
                          <td colspan="4">
                              <textarea name="remark_1" placeholder="请输入内容" style="width:100%;" class="layui-textarea"></textarea>
                          </td>
                      </tr>
                  </tbody>
                  <tfoot style="display: none;">
                      <td colspan="4">
                          <table class="table table-bordered">
                              <thead>
                                  <tr>
                                      <th>序号</th>
                                      <th>工位</th>
                                      <th>维修人</th>
                                      <th>联系方式</th>
                                      <th>工时</th></tr>
                              </thead>
                              <tbody class="gongxu_contact_list"></tbody>
                          </table>
                      </td>
                  </tfoot>
              </table>
              <table id="sample-table-sure-2" class="table table-striped table-bordered table-hover" style="display:none;">
                  <thead>
                      <th colspan="4">
                          <span class="change_name">维修</span>记录2</th></thead>
                  <tbody id="liaoliao_box">
                      <tr>
                          <td colspan="4">
                              <textarea name="remark_2" placeholder="请输入内容" style="width:100%;" class="layui-textarea"></textarea>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <table id="sample-table-sure-3" class="table table-striped table-bordered table-hover" style="display:none;">
                  <thead>
                      <th colspan="4">
                          <span class="change_name">维修</span>记录3</th></thead>
                  <tbody id="liaoliao_box">
                      <tr>
                          <td colspan="4">
                              <textarea name="remark_3" placeholder="请输入内容" style="width:100%;" class="layui-textarea"></textarea>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <table id="sample-table-1" class="table table-striped table-bordered table-hover table-btn_reset">
                  <tbody id="liaoliao_box">
                      <tr>
                          <td colspan="2" style="text-align:right;">
                              <input type="hidden" name="WorkOrderID" id="WorkOrderID" />
                              <button class="layui-btn" lay-submit="" lay-filter="demo1_sure_1" id="three_sure">确认</button>
                              <button type="reset" class="layui-btn layui-btn-primary btn_reset">重置</button></td>
                      </tr>
                  </tbody>
              </table>
          </form>
      </div>
    

</body>
</html>