<script type="text/javascript">
	$(function(){
		//面包导航
		$('#_nav_1').html($('#sidebar .nav-list li.active>a>span.menu-text').html());
		$('#_nav_2').html($('#sidebar .nav-list li.active>ul.submenu li.active a').attr('data-title'));

		//按钮切换
		$('.change_btn').click(function(){
				$('.change_btn').removeClass('btn-success');
				$(this).addClass('btn-success');
		});


		getNumInfo();

		_init_time();
		setInterval("getNumInfo()",30000);
	});

	//定时任务:每20秒执行一次
  function getNumInfo(){
	   	_ajax_get_getNumInfo();
	}

	//获取列表
	function _init_time(){
	  $.ajax({
	      async:false,
	      type:'get',
	      contentType:"application/x-www-form-urlencoded",
	      url : 'http://'+api_url+'/Default.ashx?TaskID=2036',
	      dataType : 'json',
	      success  : function(json) {
	          if(json.code==0){
	              $('#form_search .Date1').val(json.data[0]);
	              $('#form_search .Date2').val(json.data[1]);

								$('#form_search_0 .Date1').val(json.data[0]);
	              $('#form_search_0 .Date2').val(json.data[1]);

								var tag_page_arr=[
									'panel_55','panel_22'
								];
								if($.inArray( tag_page, tag_page_arr )>=0){
										var tag_time='2018-01-01 00:00:00';
										$('#form_search .Date1').val(tag_time);
										$('#form_search_0 .Date1').val(tag_time);
								}
	          }else{
	              layer.msg(json.msg);
	          }
	      },
	      error  : function(json) {
	          layer.msg(json.msg);
	      }
	  });
	}

	function getJsonLength(jsonData){
			var jsonLength = 0;
			for(var item in jsonData){
					jsonLength++;
			}
			return jsonLength;
	}

	//获取单条信息
	function _ajax_get_getNumInfo(){
	    $.ajax({
	        type:'get',
	        url : 'http://'+api_url+'/Default.ashx?TaskID=4062',
	        dataType : 'json',
	        success  : function(json) {
	            if(json.code == 0){
	            	var Mould=json.data.Mould;
	            	var Device=json.data.Device;
	            	var Process=json.data.Process;
	            	var Repair=json.data.Repair;
	            	var CheckRecord=json.data.CheckRecord;



	            	if(Mould>0){
	            		$('#left_Mould_title').addClass('left_active');
	            		$('#left_Mould_number').html("【"+json.data.Mould+"】");
	            	}else{
	            		$('#left_Mould_title').removeClass('left_active');
	            		$('#left_Mould_number').html('');
	            	}
	            	if(Device>0){
	            		$('#left_Device_title').addClass('left_active');
	            		$('#left_Device_number').html("【"+json.data.Device+"】");
	            	}else{
	            		$('#left_Device_title').removeClass('left_active');
	            		$('#left_Device_number').html('');
	            	}
	            	if(Process>0){
	            		$('#left_Process_title').addClass('left_active');
	            		$('#left_Process_number').html("【"+json.data.Process+"】");
	            	}else{
	            		$('#left_Process_title').removeClass('left_active');
	            		$('#left_Process_number').html('');
	            	}
	            	if(Repair>0){
	            		$('#left_Repair_title').addClass('left_active');
	            		$('#left_Repair_number').html("【"+json.data.Repair+"】");
	            	}else{
	            		$('#left_Repair_title').removeClass('left_active');
	            		$('#left_Repair_number').html('');
	            	}
	            	if(CheckRecord>0){
	            		$('#left_CheckRecord_title').addClass('left_active');
	            		$('#left_CheckRecord_number').html("【"+json.data.CheckRecord+"】");
	            	}else{
	            		$('#left_CheckRecord_title').removeClass('left_active');
	            		$('#left_CheckRecord_number').html('');
	            	}
	            }else{

	            }
	        },
	        error  : function() {
	            layer.msg('error');
	        }
	    });
	}

</script>

<style type="text/css">
	.left_active{color: red;font-weight: bold;}
	.auth_heightlight{background: red;}
	.footer {
		width: 100%;
		height: 65px;
		overflow: hidden;
	/*	position: absolute;
		bottom: 0px;*/
	}
	.footer .footer-inner {
	    text-align: center;
		height: 55px;
	    z-index: auto;
	    left: 0;
	    right: 0;
	    bottom: 0;
	}
	.footer .footer-inner .footer-content {
	    position: absolute;
	    bottom: 4px;
	    padding: 8px 0px;
	    line-height: 36px;
	    border-top: 3px double #E5E5E5;
	    width: 100%;
	    overflow: hidden;
	    background: white;
	}
	.bigger-120 {
	    font-size: 120%!important;
	}
	.blue {
	    color: #478FCA!important;
	}
	.bolder {
	    font-weight: bolder;
	}
</style>

<div class="footer">

  <div class="footer-inner row">

    <div class="footer-content col-xs-12">

      <span class="bigger-120">

        <span class="blue bolder">&copy; 2016</span>
          ELCO(TIANJIN)ELECTRONICS CO.,LTD.

      </span>



      &nbsp; &nbsp;

      <span class="action-buttons">

        <a href="#">

          <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>

        </a>



        <a href="#">

          <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>

        </a>



        <a href="#">

          <i class="ace-icon fa fa-rss-square orange bigger-150"></i>

        </a>

      </span>

    </div>

  </div>

</div>



<script type="text/javascript">
	//获取某个表格选中行的数据
	function fn_get_gridTable_rowData(elemId){
		var _id = $(elemId).jqGrid('getGridParam', 'selrow');
		var _rowData = $(elemId).jqGrid('getRowData',_id);
		return _rowData;
	}

	//从列表中删除一行
	function fn_del_gridTable_row(elemId){
		var _id = $(elemId).jqGrid('getGridParam','selrow');
		$(elemId).delRowData(_id);
	}

	function closeDialog(){
		setTimeout(function(){
				$('a.layui-layer-close1').trigger('click');
				$('#btn_group button').each(function(){
						if($(this).hasClass('btn-success')){
								$(this).trigger('click');
						}
				});　　
		},1000);
	}
</script>
