<include file="Public/header"/>
    <!-- basic styles -->
    <link href="__PUBLIC__/Admin/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
      <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/chosen.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/datepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/daterangepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/colorpicker.css" />

    <!-- 模块jqgrid  start -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/datepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ui.jqgrid.css" />
    <!-- 模块jqgrid  end -->

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/google_font_css.css">

    <!-- ace styles -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-skins.min.css" />

    <!-- jQuery smartMenu右键自定义上下文菜单插件  start -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/jquery-smartMenu/css/smartMenu.css" type="text/css" />
    <!-- jQuery smartMenu右键自定义上下文菜单插件  end -->

    <link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/my_diy_css.css"  media="all">

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="__PUBLIC__/Admin/assets/js/ace-extra.min.js"></script>
    <script src="__PUBLIC__/Admin/assets/js/jquery.min.js"></script>
    <!-- layui.js   -->
    <script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>



    <!--打印插件-->
    <script language="javascript" src="__PUBLIC__/Admin/Lodop/LodopFuncs.js"></script>
    <object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0 style="display: none;">
        <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>
    </object>
    <!--打印end-->
<script>



</script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->



    <!--[if lt IE 9]>

    <script src="__PUBLIC__/Admin/assets/js/html5shiv.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/respond.min.js"></script>

    <![endif]-->

  </head>

  <body>
    <div class="navbar navbar-default" id="navbar">
      <include file="Public/navbar"/>
    </div>

    <div class="main-container" id="main-container">

      <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
      </script>

      <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
          <span class="menu-text"></span>
        </a>

        <!-- 左侧菜单栏 start-->
        <div class="sidebar" id="sidebar">
          <include file="Public/left"/>
        </div>

        <!-- 右侧主要内容 start-->
        <div class="main-content" style="overflow: hidden;">


          <!-- 右block_1  start -->
          <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
              try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
              <include file="Public/_breadcrumb"/>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
              <form class="form-search">
                <span class="input-icon">
                  <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                  <i class="icon-search nav-search-icon"></i>
                </span>
              </form>
            </div><!-- #nav-search -->
          </div>
          <!-- 右block_1  end -->

          <div class="page-content">

            <div class="row">
              <div class="col-xs-12">
                <style>
                  .layui-form-item .layui-input-inline{width: auto!important;}
                  .layui-form-item{margin-bottom: 0px;}
                  .search_button{position: absolute!important;right: 0px!important;top: 4px!important;}
                  #gbox_grid-table{width: 100%!important;}
                  #gview_grid-table{width: 100%!important;}
                  #gview_grid-table>div{width: 100%!important;}
                  #trv_Modify,#trv_Delete{display: none;}
                </style>

                <!-- 权限设置  start -->
                <div class="row">

                	<include file="Public/role_page_setting"/>

                </div>
                <!-- 权限设置  end -->
                <!-- PAGE CONTENT BEGINS -->

                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">{$block_1}</div>
                            <div class="panel-body">
                                <form class="layui-form" action="" id="form-one">
                                    <table class="layui-table">
                                      <tbody>
                                        <tr>
                                          <td align="left">
                                            <div class="layui-inline">
                                              <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                  <input type="radio" name="Chose" value="停机率" title="停机率" class="Chose" checked lay-filter="Chose">
                                                  <input type="radio" name="Chose" value="MTTR" title="MTTR" class="Chose" lay-filter="Chose">
                                                  <input type="radio" name="Chose" value="MTBF" title="MTBF" class="Chose" lay-filter="Chose">
                                                </div>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </form>
                            </div>
                            <div class="panel-body" id="echart_pie_box">
                                <div id="echart_pie" href="javascript:;" class="weui_grid js_grid" data-id="toast" style="height:500px;width:100%;"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">{$block_2}</div>
                            <div class="panel-body" id="home-3">
                                <table id="grid-table-3"></table>
                                <div id="grid-pager-3"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">搜索</div>
                            <div class="panel-body">
                                <form class="layui-form" action="" id="form_search">
                                    <table class="layui-table" id="search_table">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <div class="layui-inline">
                                              <div class="layui-form-item">
                                                <label class="layui-form-label">班次</label>
                                                <div class="layui-input-inline">
                                                      <select name="Banci" class="Banci">
                                                          <option value="请选择">全部</option>
                                                          <option value="0">0</option>
                                                          <option value="1">1</option>
                                                          <option value="2">2</option>
                                                      </select>
                                                </div>
                                              </div>
                                            </div>

                                            <div class="layui-inline">
                                              <div class="layui-form-item">
                                                <label class="layui-form-label">时间范围</label>
                                                <div class="layui-input-inline">
                                                  <input class="layui-input Date1" name="Date1" value="{$_POST['Date1']}" placeholder="开始日" id="LAY_demorange_s">
                                                </div>
                                                <div class="layui-input-inline">
                                                  <input class="layui-input Date2" name="Date2" value="{$_POST['Date2']}" placeholder="截止日" id="LAY_demorange_e">
                                                </div>
                                              </div>
                                            </div>

                                            <div class="layui-inline">
                                              <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                  <button style="float:right;" lay-submit="" class="layui-btn" lay-filter="demo1_search" id="demo1_search">搜索</button>
                                                </div>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">{$block_3}</div>
                          <div class="panel-body">
                            <div id="echart_pie_1" href="javascript:;" class="weui_grid js_grid" data-id="toast" style="height:300px;width:100%;"></div>
                          </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">{$block_4}</div>
                          <div class="panel-body" id="home">
                            <table id="grid-table"></table>
                            <div id="grid-pager"></div>
                          </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">{$block_5}</div>
                            <div class="panel-body" id="home-2">
                                <table id="grid-table-2"></table>
                                <div id="grid-pager-2"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">{$block_6}</div>
                            <div class="panel-body" id="echart_line_box">
                              <div id="echart_line" href="javascript:;" class="weui_grid js_grid" data-id="toast" style="height:300px;width:100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PAGE CONTENT ENDS -->
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.page-content -->

        </div><!-- /.main-content -->
        <!-- 右侧主要内容 end-->



        <!-- 模板相关设置 -->
        <include file="Public/ace-settings-container"/>

      </div><!-- /.main-container-inner -->



      <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">

        <i class="icon-double-angle-up icon-only bigger-110"></i>

      </a>

    </div><!-- /.main-container -->

    <!-- 底栏版本说明 -->
    <include file="Public/footer"/>

    <!-- basic scripts -->

    <!--[if !IE]> -->



    <!-- <![endif]-->



    <!--[if IE]>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<![endif]-->



    <!--[if !IE]> -->



    <script type="text/javascript">

      window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");

    </script>



    <!-- <![endif]-->



    <!--[if IE]>

<script type="text/javascript">

 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");

</script>

<![endif]-->



    <script type="text/javascript">

      if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");

    </script>

    <script src="__PUBLIC__/Admin/assets/js/bootstrap.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/typeahead-bs2.min.js"></script>



    <!-- page specific plugin scripts -->

    <script src="__PUBLIC__/Admin/assets/js/jquery-ui-1.10.3.custom.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.ui.touch-punch.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/chosen.jquery.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/fuelux/fuelux.spinner.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/bootstrap-datepicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/bootstrap-timepicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/moment.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/daterangepicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/bootstrap-colorpicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.knob.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.autosize.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.maskedinput.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/bootstrap-tag.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.dataTables.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.dataTables.bootstrap.js"></script>

    <!-- 模块jqgrid  start -->
    <script src="__PUBLIC__/Admin/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="__PUBLIC__/Admin/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <!-- <script src="__PUBLIC__/Admin/assets/js/jqGrid/i18n/grid.locale-en.js"></script> -->
    <script src="__PUBLIC__/Admin/assets/js/jqGrid/i18n/grid.locale-zh.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script src="__PUBLIC__/Admin/assets/js/jquery.ui.touch-punch.min.js"></script>
    <!-- 模块jqgrid  end -->

    <!-- ace scripts -->



    <script src="__PUBLIC__/Admin/assets/js/ace-elements.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/ace.min.js"></script>



    <!-- inline scripts related to this page -->


    <script type="text/javascript">
      jQuery.support.cors=true;

      jQuery(function($) {
	        //初使化按钮操作权限
	        var page="{$page}";
	        _init_button_operate(page);
      });
    </script>



<!-- ============================= -->
    <script type="text/javascript">
        //layui表单
        layui.use(['form', 'layedit', 'laydate'], function(){
          var form = layui.form()
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

          var start = {
              format: 'YYYY-MM-DD hh:mm:ss'
              ,istoday: false
              ,istime: true
            };

            var end = {
              format: 'YYYY-MM-DD hh:mm:ss'
              ,istoday: false
              ,istime: true
            };

            document.getElementById('LAY_demorange_s').onclick = function(){
              start.elem = this;
              laydate(start);
            }
            document.getElementById('LAY_demorange_e').onclick = function(){
              end.elem = this
              laydate(end);
            }

          //监听提交
          form.on('submit(demo1_search)', function(data){
            var data=data.field;

            var echart_pie_data_1=_ajax_get_echart_pie_data_1(data);

            var Chose=$('#form-one .Chose:checked').val();
            init_echart_pie_1(echart_pie_data_1);


            //4、模具停机率列表
            var list=_ajax_get_list(data);
            render_list(list);
            return false;
          });

          //监听提交
          form.on('select(Car)', function(data){
            var Car=data.value;

            _ajax_get_lingjian_list(Car);
          });

          //监听提交
          form.on('select(select_banci)', function(data){
            var Banci=data.value;

            var echart_pie_data=_ajax_get_echart_pie_data(Banci);
            init_echart_pie(echart_pie_data);
          });

          //监听提交
          form.on('radio(Chose)', function(data){
            var Chose=data.value;

            var echart_pie_data=_ajax_get_echart_pie_data(Chose);
            init_echart_pie(echart_pie_data, Chose);

            var gridTable3_data=_ajax_get_gridTable3_data_data(Chose);
            render_list_3(gridTable3_data);

            // 3、模具停机率
            var data={};
                data.Banci=$('#search_table .Banci').val();
                data.Date1=$('#search_table .Date1').val();
                data.Date2=$('#search_table .Date2').val();
            var echart_pie_data_1=_ajax_get_echart_pie_data_1(data);
            init_echart_pie_1(echart_pie_data_1);

            //4
            var sel_id = $('#grid-table').jqGrid('getGridParam', 'selrow');
            $('#demo1_search').trigger('click');
            $('#grid-table tr#'+sel_id).trigger('click');
          });
        });
    </script>



    <script type="text/javascript">

      jQuery(function($) {
          var data={};
              data.Banci=$('#search_table .Banci').val();
              data.Date1=$('#search_table .Date1').val();
              data.Date2=$('#search_table .Date2').val();


          var echart_pie_data=_ajax_get_echart_pie_data('停机率');

          //一次通过率
          var gridTable3_data=_ajax_get_gridTable3_data_data('停机率');
          render_list_3(gridTable3_data);
          var echart_pie_data_1=_ajax_get_echart_pie_data_1(data);


          // 获取车型
          _ajax_get_car_list();

          init_echart_pie(echart_pie_data, '停机率');
          init_echart_pie_1(echart_pie_data_1);

          //4、模具停机率列表
          var list=_ajax_get_list(data);
          render_list(list);


          $('#jqgh_grid-table-3_班次').html('');
      });

      //获取列表
      function _ajax_get_list(data){
          var grid_data;
          $.ajax({
              async:false,
              type:'get',
              contentType:"application/x-www-form-urlencoded",
              url : 'http://'+api_url+'/SecondDefault.ashx?TaskID=4004',
              data:data,
              dataType : 'json',
              success  : function(json) {
                  if(json.code==0){
                      grid_data=json.data;
                  }else{
                      layer.msg(json.msg);
                  }
              },
              error  : function(json) {
                  layer.msg(json.msg);
              }
          });
          return grid_data;
      }

      //获取列表
      function _ajax_get_echart_line_data(data){
          var grid_data;
          $.ajax({
              async:false,
              type:'get',
              contentType:"application/x-www-form-urlencoded",
              url : 'http://'+api_url+'/SecondDefault.ashx?TaskID=4006',
              data:data,
              dataType : 'json',
              success  : function(json) {
                  if(json.code==0){
                      grid_data=json.data;
                  }else{
                      layer.msg(json.msg);
                  }
              },
              error  : function(json) {
                  layer.msg(json.msg);
              }
          });
          return grid_data;
      }

      //获取列表
      function _ajax_get_list_2(data){
          var grid_data;
          $.ajax({
              async:false,
              type:'get',
              contentType:"application/x-www-form-urlencoded",
              url : 'http://'+api_url+'/SecondDefault.ashx?TaskID=4005',
              data:data,
              dataType : 'json',
              success  : function(json) {
                  if(json.code==0){
                      grid_data=json.data;
                  }else{
                      layer.msg(json.msg);
                  }
              },
              error  : function(json) {
                  layer.msg(json.msg);
              }
          });
          return grid_data;
      }

      //4
      function render_list(grid_data){
          $('#home').html('<table id="grid-table"></table><div id="grid-pager"></div>');
          jQuery(grid_selector).jqGrid({
            data: grid_data,
            datatype: "local",
            height: 430,

            colNames:['模具名称', '模具编号', '模具停线时间', '模具调试时间', '其他时间', '模具停线次数', '工单时长', '停机率', 'MTTR', 'MTBF'],
            colModel:[
                {name:'MouldName',index:'MouldName', align : "center"},
                {name:'MouldNumber',index:'MouldNumber', align : "center"},
                {name:'StopTime',index:'StopTime', align : "center"},
                {name:'DebugTime',index:'DebugTime', align : "center"},
                {name:'OtherTime',index:'OtherTime', align : "center"},
                {name:'StopCount',index:'StopCount', align : "center"},
                {name:'WorkTime',index:'WorkTime', align : "center"},
                {name:'StopRatio',index:'StopRatio', align : "center"},
                {name:'MTTR',index:'MTTR', align : "center"},
                {name:'MTBF',index:'MTBF', align : "center"}
            ],
            rownumbers:true,
            rownumWidth:50,//设置行号列宽度
            autowidth:true,
            shrinkToFit:true,//ture，则按比例初始化列宽度。如果为false，则列宽度使用colModel指定的宽度
            viewrecords : true,
            rowNum:10,
            rowList:[10,20,30],
            pager : pager_selector,
            altRows: true,

            loadComplete : function() {
              var table = this;
              setTimeout(function(){
                updatePagerIcons(table);
              }, 0);
            },
            onSelectRow : function(id) {
                var _rowData = $('#grid-table').jqGrid('getRowData',id);

                var MouldName=_rowData.MouldName;
                var data={};
                    data.MouldName=MouldName;
                    data.Chose=$('#form-one .Chose:checked').val();
                    data.Date1=$('#search_table .Date1').val();
                    data.Date2=$('#search_table .Date2').val();
                    data.Banci=$('#search_table .Banci').val();

                if(data){
                    var _json_1=_ajax_get_list_2(data);
                    render_list_2(_json_1);

                    //6、单件模具停机率趋势
                    var _json_2=_ajax_get_echart_line_data(data);
                    init_echart_line(_json_2);
                }
            }
          });
      }


      //5
      function render_list_2(grid_data){
          $('#home-2').html('<table id="grid-table-2"></table><div id="grid-pager-2"></div>');
          jQuery('#grid-table-2').jqGrid({
              data: grid_data,
              datatype: "local",
              height: 430,

              colNames:['工单号', '模具名称', '模具编号', '模具停线时间', '模具调试时间', '其他时间', '模具停线次数', '工单时长', '停机率', 'MTTR', 'MTBF'],
              colModel:[

                  {name:'ProductWorkOrderID',index:'ProductWorkOrderID', align : "center"},
                  {name:'MouldName',index:'MouldName', align : "center"},
                  {name:'MouldNumber',index:'MouldNumber', align : "center"},
                  {name:'StopTime',index:'StopTime', align : "center"},
                  {name:'DebugTime',index:'DebugTime', align : "center"},
                  {name:'OtherTime',index:'OtherTime', align : "center"},
                  {name:'StopCount',index:'StopCount', align : "center"},
                  {name:'WorkTime',index:'WorkTime', align : "center"},
                  {name:'StopRatio',index:'StopRatio', align : "center"},
                  {name:'MTTR',index:'MTTR', align : "center"},
                  {name:'MTBF',index:'MTBF', align : "center"}
              ],
              rownumbers:true,
              rownumWidth:50,//设置行号列宽度
              autowidth:true,
              shrinkToFit:true,//ture，则按比例初始化列宽度。如果为false，则列宽度使用colModel指定的宽度
              viewrecords : true,
              rowNum:10,
              rowList:[10,20,30],
              pager : '#grid-pager-2',
              altRows: true,

              loadComplete : function() {
                  var table = this;
                  setTimeout(function(){
                      updatePagerIcons(table);
                  }, 0);
              }
          });
      }

      function render_list_3(grid_data){
          console.log(grid_data);

          var _colNames=grid_data.fields;

          var _colModel=[];
            $.each(grid_data.fields1, function(key, value){
                _colModel.push({name:value, index:value, align : "center"});
            });

          var _grid_data=grid_data.data;

          console.log(11111);
          console.log(_colNames);
          console.log(_colModel);
          console.log(_grid_data);


          $('#home-3').html('<table id="grid-table-3"></table><div id="grid-pager-3"></div>');
          jQuery('#grid-table-3').jqGrid({
              data: _grid_data,
              datatype: "local",
              colNames:_colNames,
              colModel:_colModel,
              rownumbers:false,
              rownumWidth:50,//设置行号列宽度
              autowidth:true,
              shrinkToFit:true,//ture，则按比例初始化列宽度。如果为false，则列宽度使用colModel指定的宽度
              viewrecords : true,
              rowNum:10,
              rowList:[10,20,30],
              altRows: true,

              loadComplete : function() {
                  var table = this;
                  setTimeout(function(){
                      updatePagerIcons(table);
                  }, 0);
              }
          });
      }

      //replace icons with FontAwesome icons like above   //更新分页图标
      function updatePagerIcons(table) {
        var replacement =
        {
          'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
          'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
          'ui-icon-seek-next' : 'icon-angle-right bigger-140',
          'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
        };
        $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
          var icon = $(this);
          var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

          if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
        })
      }

      function _ajax_get_echart_pie_data(Chose){
          $('#echart_pie_box').html('<div id="echart_pie" href="javascript:;" class="weui_grid js_grid" data-id="toast" style="height:300px;width:100%;"></div>');
          var _json;
          //获取数据
          $.ajax({
              async:false,
              type:'get',
              url : 'http://'+api_url+'/SecondDefault.ashx?TaskID=4001',
              data:{
                Chose:Chose
              },
              dataType : 'json',
              success  : function(json) {
                  if(json.code==0){
                      _json=json.data;
                  }else{
                      layer.msg(json.msg);
                  }
              },
              error  : function(json) {
                  layer.msg(json.msg);
              }
          });

          return _json;
      }

      function _ajax_get_gridTable3_data_data(Chose){
          var _json;
          //获取数据
          $.ajax({
              async:false,
              type:'get',
              url : 'http://'+api_url+'/SecondDefault.ashx?TaskID=4002',
              data:{
                  Chose:Chose
              },
              dataType : 'json',
              success  : function(json) {
                  if(json.code==0){
                      _json=json;
                  }else{
                      layer.msg(json.msg);
                  }
              },
              error  : function(json) {
                  layer.msg(json.msg);
              }
          });

          return _json;
      }




      //获取车型
      function _ajax_get_car_list(){
          $.ajax({
              async:false,
              type:'post',
              url : 'http://'+api_url+'/Default.ashx?TaskID=4092',
              dataType : 'json',
              success  : function(json) {
                  if(json.code==0){
                      var str="<option value='请选择'>全部</option>";
                      $.each(json.data, function(name, value) {
                          str+="<option value='"+value.C_Type+"'>"+value.C_Type+"</option>";
                      });
                      $('#search_table .Car').html(str);
                  }else{
                      layer.msg(json.msg);
                  }
              },
              error  : function(json) {
                  layer.msg(json.msg);
              }
          });
      }

      //获取零件列表
      function _ajax_get_lingjian_list(Car){
          $.ajax({
              async:false,
              type:'post',
              url : 'http://'+api_url+'/Default.ashx?TaskID=6666&Car='+Car,
              dataType : 'json',
              success  : function(json) {
                  if(json.code==0){
                      var str="<option value='请选择'>全部</option>";
                      $.each(json.data, function(name, value) {
                          str+="<option value='"+value+"'>"+value+"</option>";
                      });
                      $('#search_table .PartName').html(str);
                      layui.form().render();
                  }else{
                      layer.msg(json.msg);
                  }
              },
              error  : function(json) {
                  layer.msg(json.msg);
              }
          });
      }

      function _ajax_get_gridTable_data(data){
          data.Chose=$('#form-one .Chose:checked').val();
          var _json;
          //获取数据
          $.ajax({
              async:false,
              type:'get',
              url : 'http://'+api_url+'/SecondDefault.ashx?TaskID=4004',
              data:data,
              dataType : 'json',
              success  : function(json) {
                  if(json.code==0){
                      _json=json.data;
                  }else{
                      layer.msg(json.msg);
                  }
              },
              error  : function(json) {
                  layer.msg(json.msg);
              }
          });

          return _json;
      }

      function _ajax_get_echart_pie_data_1(data){
          data.Chose=$('#form-one .Chose:checked').val();
          var _json;
          //获取数据
          $.ajax({
              async:false,
              type:'get',
              url : 'http://'+api_url+'/SecondDefault.ashx?TaskID=4003',
              data:data,
              dataType : 'json',
              success  : function(json) {
                console.log(234);
                // console.log(json);return false;
                  if(json.code==0){
                      _json=json.data;
                  }else{
                      layer.msg(json.msg);
                  }
              },
              error  : function(json) {
                  layer.msg(json.msg);
              }
          });

          return _json;
      }

      function init_echart_line(_ajax_data){
          var Chose=$('#form-one .Chose:checked').val();
          var _legend=Chose;
          if(Chose!='停机率'){
              var _yAxis={
                  name: '',
                  type : 'value',
              };
          }else{
              var _yAxis={
                  name: '%',
                  type : 'value',
                  min:0,
                  max:100,
                  splitNumber: 10
              };
          }



          var _x=[];
          var _y=[];
          $.each(_ajax_data, function(key, value) {
              _x.push(value.ProductWorkOrderID);
              _y.push(value.Value);
          });

          // 基于准备好的dom，初始化echarts图表
          var myChart = echarts.init(document.getElementById('echart_line'));

          var option = {
              tooltip : {
                  trigger: 'axis',
                  axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                      type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                  },
                  formatter:function(params){
                      var res=''
                      for(var i=0;i<params.length;i++){
                          res+='<p><span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:' + params[i].color + '"></span>';

                          if(Chose!='停机率'){
                              res+=params[i].seriesName+':'+parseFloat(params[i].data)+'</p>';
                          }else{
                              res+=params[i].seriesName+':'+parseFloat(params[i].data)+'%'+'</p>';
                          }

                      }
                      return res;
                  },
              },
              legend: {
                  data:[_legend]
              },
              grid: {
                  left: '3%',
                  right: '4%',
                  bottom: '13%',
                  containLabel: true
              },
              toolbox: {
                  feature: {
                      saveAsImage: {}
                  }
              },
              xAxis: {
                  type: 'category',
                  boundaryGap: false,
                  data: _x,
                  axisLabel:{
                      interval:0,
                      rotate:-30,
                  }
              },
              yAxis: _yAxis,
              series: [
                  {
                      name:Chose,
                      type:'line',
                      stack: '总量',
                      data:_y,
                      itemStyle:{
                          normal:{
                               lineStyle:{
                                   color:'blue'
                               }
                           }
                      }
                  }
              ]
          };

          // 为echarts对象加载数据
          myChart.setOption(option);
          window.onresize = myChart.resize;
      }



      function init_echart_pie(_ajax_data, Chose){
          var Chose=$('#form-one .Chose:checked').val();

          if(Chose!='停机率'){
              var _yAxis={
                  name: '',
                  type : 'value',
              };
          }else{
              var _yAxis={
                  name: '%',
                  type : 'value',
                  min:0,
                  max:100,
                  splitNumber: 10
              };
          }

          var echart_data_y=_ajax_data[0];
          var echart_data_shift1=_ajax_data[1];
          var echart_data_shift2=_ajax_data[2];
          var echart_data_y2=_ajax_data[3];

          var echart_data_x=_ajax_data[4];

          var _arr=['班次总','班次1','班次2'];

          // 基于准备好的dom，初始化echarts图表
          var myChart = echarts.init(document.getElementById('echart_pie'));

          var option = {
              tooltip : {
                  trigger: 'axis',
                  axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                      type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                  },
                  formatter:function(params){
                      var res=''
                      for(var i=0;i<params.length;i++){
                          res+='<p><span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:' + params[i].color + '"></span>';

                          if(Chose!='停机率'){
                              res+=params[i].seriesName+':'+parseFloat(params[i].data)+'</p>';
                          }else{
                              if(params[i].data=='0'){
                                  res+=params[i].seriesName+':'+params[i].data+'</p>';
                              }else{
                                  res+=params[i].seriesName+':'+params[i].data+'%'+'</p>';
                              }
                          }

                      }
                      return res;
                  },
              },
              legend: {
                   data:_arr
              },
              grid: {
                  top: '30%',
                  left: '3%',
                  right: '4%',
                  bottom: '13%',
                  containLabel: true
              },
              xAxis : [
                  {
                      type : 'category',
                      data : echart_data_x,
                      axisLabel:{
                          interval:0,
                          rotate:-30,
                      }
                  }
              ],
              yAxis : [
                  _yAxis
              ],
              series : [
                  {
                      name:_arr[0],
                      type:'bar',
                      label: {
                          normal: {
                          show: true,
                          position: 'top'
                          }
                      },
                      itemStyle:{
                          normal:{
                               lineStyle:{
                                   color:'blue'
                               },
                               color:'#00BFFF',
                               label: {
                                  show: true,
                                  position: 'top',
                                  textStyle: {
                                      color: '#615a5a'
                                  },
                                  formatter:function(params){
                                      if(Chose!='停机率'){
                                          return parseFloat(params.value);
                                      }else{
                                          if(params.value=='0'){
                                              return params.value;
                                          }else{
                                              return params.value+'%';
                                          }
                                      }
                                  }
                               }
                           }
                      },
                      data:echart_data_y
                  },
                  {
                      name:_arr[1],
                      type:'bar',
                      label: {
                          normal: {
                          show: true,
                          position: 'top'
                          }
                      },
                      itemStyle:{
                          normal:{
                               lineStyle:{
                                   color:'blue'
                               } ,
                               label: {
                                  show: true,
                                  position: 'top',
                                  textStyle: {
                                      color: '#615a5a'
                                  },
                                  formatter:function(params){
                                        if(Chose!='停机率'){
                                            return parseFloat(params.value);
                                        }else{
                                            if(params.value=='0'){
                                                return params.value;
                                            }else{
                                                return params.value+'%';
                                            }
                                        }
                                  }
                               }
                           }
                      },
                      data:echart_data_shift1
                  },
                  {
                      name:_arr[2],
                      type:'bar',
                      label: {
                          normal: {
                          show: true,
                          position: 'top'
                          }
                      },
                      itemStyle:{
                          normal:{
                               lineStyle:{
                                   color:'blue'
                               } ,
                               label: {
                                  show: true,
                                  position: 'top',
                                  textStyle: {
                                      color: '#615a5a'
                                  },
                                  formatter:function(params){
                                      if(Chose!='停机率'){
                                          return parseFloat(params.value);
                                      }else{
                                          if(params.value=='0'){
                                              return params.value;
                                          }else{
                                              return params.value+'%';
                                          }
                                      }
                                  }
                               }
                           }
                      },
                      data:echart_data_shift2
                  },
                  {
                      name:'目标值',
                      type:'line',
                      label: {
                          normal: {
                          show: false,
                          position: 'top'
                          }
                      },
                      itemStyle:{
                          normal:{
                               lineStyle:{
                                   color:'blue'
                               }   ,
                               label: {
                                  show: true,
                                  position: 'top',
                                  textStyle: {
                                      color: '#615a5a'
                                  },
                                  formatter:function(params){
                                      if(Chose!='停机率'){
                                          return parseFloat(params.value);
                                      }else{
                                          if(params.value=='0'){
                                              return params.value;
                                          }else{
                                              return params.value+'%';
                                          }
                                      }
                                  }
                               }
                           }
                      },
                      data:echart_data_y2
                  }
              ]
          };


          // 为echarts对象加载数据
          myChart.setOption(option);
          window.onresize = myChart.resize;
      }

      function init_echart_pie_1(_ajax_data){
          var Chose=$('#form-one .Chose:checked').val();

          if(Chose!='停机率'){
              var _yAxis={
                  name: '',
                  type : 'value',
              };
          }else{
              var _yAxis={
                  name: '%',
                  type : 'value',
                  min:0,
                  max:100,
                  splitNumber: 10
              };
          }

          console.log(32132131);
          console.log(_ajax_data);
          var echart_data_x=[];
          var echart_data_y=[];
          $.each(_ajax_data, function(key, value) {
              echart_data_x.push(value.MouldName);
              echart_data_y.push( Math.round(parseFloat(value.Value)*100)/100 );
          });

          console.log(111111);
          console.log(echart_data_x);

          // 基于准备好的dom，初始化echarts图表
          var myChart = echarts.init(document.getElementById('echart_pie_1'));

          var option = {
              tooltip : {
                  trigger: 'axis',
                  axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                      type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                  },
                  formatter:function(params){
                      var res=''
                      for(var i=0;i<params.length;i++){
                          res+='<p><span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:' + params[i].color + '"></span>';


                          if(Chose!='停机率'){
                              res+=params[i].seriesName+':'+parseFloat(params[i].data)+'</p>';
                          }else{
                              if(params[i].data=='0'){
                                  res+=params[i].seriesName+':'+params[i].data+'</p>';
                              }else{
                                  res+=params[i].seriesName+':'+params[i].data+'%'+'</p>';
                              }
                          }

                      }
                      return res;
                  },
              },
              legend: {
                  data:['总数']
              },
              grid: {
                  top: '30%',
                  left: '3%',
                  right: '4%',
                  bottom: '23%',
                  containLabel: true
              },
              xAxis : [
                  {
                      type : 'category',
                      data : echart_data_x,
                      axisLabel:{
                          interval:0,
                          rotate:-30,
                      }
                  }
              ],
              yAxis : [
                  _yAxis
              ],
              series : [
                  {
                      name:'总数',
                      type:'bar',
                      label: {
                          normal: {
                          show: true,
                          position: 'top'
                          }
                      },
                      itemStyle:{
                          normal:{
                               color:'green',
                               label: {
                                  show: true,
                                  position: 'top',
                                  textStyle: {
                                      color: '#615a5a'
                                  },
                                  formatter:function(params){
                                        if(Chose!='停机率'){
                                            return parseFloat(params.value);
                                        }else{
                                            if(params.value=='0'){
                                                return params.value;
                                            }else{
                                                return params.value+'%';
                                            }
                                        }
                                  }
                               }
                           }
                      },

                      data:echart_data_y
                  }
              ]
          };


          // 为echarts对象加载数据
          myChart.setOption(option);
          window.onresize = myChart.resize;
      }
    </script>
    <script src="__ROOT__/echart/echarts.min.js"></script>

  </body>
</html>
